h1,
h2,
h3,
h4,
h5,
h6 {
    color: crimson;
}



.small-heading {
    text-transform: uppercase;
}

#quote-by-author {
    background: lightblue;
    padding: 10px;
    line-height: 1.75;
}

.list>li {
    color: crimson;
}

.list>li ul {
    color: initial
}

header+p {
    font-size: 1.25rem;
    font-weight: bold;
}

a:link {
    color: #1D70B8;
}

a:visited {
    color: red;
}

a:hover {
    color: #003078;
}

a:focus {
    outline: solid 2px crimson;
}

header+p::first-letter {
    color: crimson;
    font-style: italic;
}

* {
    font-family: sans-serif;
}
